
p {
  font-size: large;
}

.topbar {
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid silver;
  margin: 2px;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: lightgray;
  position: fixed;
  left: 0;
  top: 85px;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  text-align: center;

}

.sidebarfunction {
  position: absolute;
  top: 87px;
  left: 10px;
  cursor: pointer;
}

#image {
  height: 25px;
  width: 25px;
}

.design {
  background-color: silver;
  float: left;
  width: 10px;
  height: 920px;
  margin-top: 6px;
}

.dropbtn {
  background-color: #202020;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-left: -60px;
  cursor: pointer;
  width: 125px;
  height: 50px;
}


.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8b8e;
}


.dropdown {
  display: inline-block;
  position: absolute;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 225px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center;
  right: -47px;
  margin-top: 20px;

}



.dropdown-content a {
  margin-top: 50px;
  color: black;
  padding: 20px 2px;
  text-decoration: none;
  display: block;

}



.dropdown a:hover {
  background-color: #ddd;
}



.show {
  display: block;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  float: left;
  margin: 0%;
  text-align: center;
  margin-right: 10%;
  margin-bottom: 10%;
  background-color:white;
}
.container {
  padding: 2px 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;
  transform: scale(1.1)
}
.kep{
  height: 15vh;
  width: 13.2vw;
}
.button{
  width: 25px;
}
#img{
  width: 200vw;
  height: 600vh;
  float: auto;
}
.modal{
  --bs-modal-zindex:1055;
  --bs-modal-width:715px;
  --bs-modal-padding:1rem;
  --bs-modal-margin:0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg:#fff;
  --bs-modal-border-color:var(--bs-border-color-translucent);
  --bs-modal-border-width:1px;
  --bs-modal-border-radius:0.5rem;
  --bs-modal-box-shadow:0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius:calc(0.5rem - 1px);
  --bs-modal-header-padding-x:1rem;
  --bs-modal-header-padding-y:1rem;
  --bs-modal-header-padding:1rem 1rem;
  --bs-modal-header-border-color:var(--bs-border-color);
  --bs-modal-header-border-width:1px;
  --bs-modal-title-line-height:1.5;
  --bs-modal-footer-gap:0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color:var(--bs-border-color);
  --bs-modal-footer-border-width: 1px;
  position: fixed;
  top:0;
  left:0;
  z-index:var(--bs-modal-zindex);
  display:none;
  width: 100%;
  height: 100%;
  overflow-x:hidden;
  overflow-y:auto;
  outline:0
}
.polaroid {
  width: 225px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  float: left;
  padding: 15px;
  margin-left: 2vw;
}
body {
  margin: 0;
  background-color: rgb(240, 244, 248);
  color: black;
}


#menu {
  height: 100%;

  border-radius: 5%;
}

#cart:hover,  #profil:hover, #dark:hover{
  transform: scale(1.15);
  transition: 0.5s;
  
}


.footer {
  background: linear-gradient(#1b0a27,#1d042e,#141414)
}

.dark-mode {
  background-color:rgb(33, 37, 41) ;
  color: rgb(240, 244, 248);
}
.cimek {
  margin-left: 1.5%;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  float: left;
  vertical-align: middle;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21.6%;
}

.kartyak {
  border-radius: 30px;
}

.nav2 {
  background: radial-gradient(#190a22, #05042e, #141414);
}

.btn {
  width: 100px;
  border: 2px solid white;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.096);
  color: white;
}

.btn:hover {
  transform: scale(1.04);
  transition: 0.4s;
  color: white;
  border: 2px solid white;
}

#active {
  background-color: rgba(255, 255, 255, 0.438);
  color: rgb(255, 255, 255);
  font-weight: bold;
}


.card {
  border: 3px solid rgb(255, 255, 255);
  background-color: #1c2331;
  color: white;
  display: inline-block;
  overflow: hidden;
  transition: 0.3s ease-out;
}

