body {
  margin: 0;
}

.sidebar {

  width: 200px;
}

#menu {
  width: 100%;
  border-radius: 5%;
}

#cart:hover {
  transform: scale(1.15);
  transition: 0.5s;
}
.sidebtn {
  border: 2px solid rgb(44, 44, 44) ;
   background-color: white;
    color: black;
}

