body {
  margin: 0;
}


.topbar {
  height: 70px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
 border: 4px solid silver;
 margin: 2px;
}

.sidebar {
  height: 100%;
  width: 250px;
  background-color: lightgray;
  position: fixed;
  left: 0;
  top: 85px;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  text-align: center;

}

.sidebarfunction {
  position: absolute;
  top: 87px;
  left: 10px;
  cursor: pointer;
}

#image {
  height: 35px;
  width: 35px;
}
.design {
background-color: silver;
float: left;
width: 10px;
height: 920px;
margin-top: 6px;
}


