body {
  margin: 0;
}

.sidebar {
  width: 200px;
}

#menu {
  height: 100%;

  border-radius: 5%;
}

#cart:hover {
  transform: scale(1.15);
  transition: 0.5s;
}

.sidebtn {
  border: 2px solid rgb(44, 44, 44);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.fo {
  --border-size: 3px;
  --border-angle: 0turn;
  width: 60vmin;
  height: 50vmin;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-animation: bg-spin 3s linear infinite;
  animation: bg-spin 3s linear infinite;
  margin-left: 30%;
  margin-top: 5%;
  margin-bottom: 5%;

}

@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

.box:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.footer {
  background: linear-gradient(#3a095a,#1d042e,#141414)
}