.main{
    text-align: center;
    margin-top: 35px;
    border: solid rgb(32, 100, 0) 2px;
    height: unset;
    width: 888px;
    margin: auto;
    height: 987px;
    background-color: rgba(136, 255, 125, 0.651);
}


img{
    width: 255px;
    margin-top: 35px;
    border: double black 6px;
}


fieldset{
    width: 511px;
    margin: auto;
    margin-top: 35px;
    border:  solid rgb(32, 100, 0) 2px;
    padding: 15px;
}



body{
    background-color: rgba(0, 0, 0, 0.575);
}