body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

a:any-link {
    text-decoration: none;
    color:#00cc00;
}

.menu {
    float: left;
    width: 15%;
    justify-content: center;
    text-align: center;
    background-color: darkgray;
}

.aktualis {
    background-color:#728676;
    padding: 5px;
    margin-top: 7px;
    display: block;
    width: 95,5%;
    color: black;
}

.main {
    float: left;
    width: 65%;
}

.right {
    float: left;
    width: 20%;
    color: black;
}

h1 {
    text-align: center;
    color: black;

}

h2 {
    color: rgb(0, 0, 0);
}

.keszito {
    color: greenyellow;
}

.div1 {
    margin: 25px 100px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
    float: left;
}

.div2 {
    margin: 25px 100px;
    width: 5px;
    height: 5px;
    transition: 0.5s;
    float: left;
} 

.div3 {
    margin: 25px 100px;
    width: 5px;
    height: 5px;
    transition: 0.5s;
    float: left;
    position: relative;
}

.div4 {
    margin: 25px 100px;
    width: 5px;
    height: 5px;
    transition: 0.5s;
    float: left;
}

.div1:hover {
    transform: scale(1.1);
}

.div2:hover {
    transform: scale(1.1);
}

.div3:hover {
    transform: scale(1.1);
}

.div4:hover {
    transform: scale(1.1);
}

.kep{
    float: left;
    margin: 25px 2px;
    border: 1px solid yellow;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

.title {
    text-align-last: center;
}

.meret {
    margin: 25px 100px;
    width: 20px;
    height: 250px;
    transition: 0.5s;
    float: left;
}

#narancsle{
    margin: 25px 100px;
    width: 250px;
    height: 250px;
    transition: 0.5s;
    float: left;
}

#almale {
    margin: 25px 100px;
    width: 250px;
    height: 165px;
    transition: 0.5s;
    float: left;
}


#fanta {
    margin: 25px 100px;
    height: 165px;
    width: 250px;
    transition: 0.5s;
    float: left;
}

#viz {
    margin: 25px 100px;
    height: 166px;
    width: 250px;
    transition: 0.5s;
    float: left;
}

.nasik {
    float: left;
    margin: 25px 100px;
    width: 25%;
    border: 1px solid yellow;
}

.card {
    float: left;
    width: 100px;
    height: 122px;
    transition: 0.5s;
    margin: 25px 100px;
}
